body{
    background: #aaaaaa;
}

.pg{
    margin: 40px auto 0;
    page-break-after: always;
    page-break-inside: avoid;
    background: #ffffff;
    padding:0.5cm;
}

.pg:first-child{
    margin-top: 5rem;
}

.pg-portrait
{
    width: 21cm;
    height: 29.7cm;
}
.pg-landscape
{
    width: 29.7cm;
    height: 21cm;
}
.pg-blank{
    background-image: url("/img/blank.png");
    background-position:center;
    background-repeat: no-repeat;
}
@page{
    size: A4;
    margin: 0;
}

@media print
{
    .pg{
      background: #ffffff;
    }
    .pg, .pg:first-child{
        margin:0;
    }

    .pg-landscape{
        transform: rotate(270deg) translate(-29.5%,100%);
        transform-origin: bottom left;
    }
    .pg-blank{
        background-image: url("/img/blank.png");
        background-position:center;
        background-repeat: no-repeat;
    }
}